doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:og='http://ogp.me/ns#', xmlns:fb='http://www.facebook.com/2008/fbml')
  head
    title TWING Alpha
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='author', content='anilmaharjan.com.np')
    meta(name='copyright', content='Anil Maharjan')
    meta(name='distribution', content='global')
    meta(name='resource-type', content='document')
    meta(name='language', content='en')
    link(href='images/logo-small.png', rel='shortcut icon', type='image/x-icon')
    link(href='//fonts.googleapis.com/css?family=Titillium+Web', rel='stylesheet', type='text/css')
    meta(property='fb:admins', content='dejavu1987')
    meta(property='fb:app_id', content='527804323931798')
    meta(property='og:url', content='https://apps.facebook.com/twingjitsu/')
    meta(property='og:title', content='Twing, Massively multiplayer Online mini game')
    meta(property='og:site_name', content='Twing')
    meta(property='og:description', content='Twing, Massively multiplayer Online mini game is currently on alpha test.')
    meta(property='og:image', content='http://twing.jit.su/images/logo-big.png')
    meta(property='og:type', content='article')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(href='//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/jquery-ui.css')
    link(rel='stylesheet', href='stylesheets/draggable.css')
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/jquery.tmpl.js')
    script(src='javascripts/templates.js')

    script(src='javascripts/jquery-ui.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.js')
    script(src='javascripts/jquery.ui.touch-punch.min.js')
    script(src='javascripts/jquery.ba-throttle-debounce.js')
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/twing.js')
    script(src='javascripts/jquery.isotope.min.js')
    script(src='javascripts/jquery.slimscroll.min.js')
   
    //script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    //script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js')
    //link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/ui-lightness/jquery-ui.css')
    //link(rel='stylesheet', href='css/draggable.css')
    //script(src='js/jquery.ui.touch-punch.min.js')
    //script(src='/socket.io/socket.io.js')

  body
    #fb-root
    script.
      // Load the SDK Asynchronously
      (function(d){
      var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      //        js.src = "//connect.facebook.net/en_US/all/debug.js";
      js.src = "//connect.facebook.net/en_US/sdk.js";
      ref.parentNode.insertBefore(js, ref);
      }(document));
    #page.clearfix
      #sidebar.glass
        .side-box.me-box.clearfix
          .me-wrapper.clearfix
            .me-image
            .me-info
        .side-box.host-users.clearfix
          .room
          ul.scores-list
        .side-box.menu.clearfix
          a.create-host.button Host
          a.invite.button(title="Invite") Invite
          a.highscores.button(title="Highscores") Highscores
          a.notifications.button(title="Notifications") Notifications
      block stage
      #footer
      script(src='javascripts/facebook.js')